@import "tailwindcss";


 @theme {
    --color-customPurple-100: #D0C1F9;  
    --color-customPurple-200: #B1A9F7;
    --color-customPurple-300: #A08AF6;
    --color-customPurple-400: #8977F1;  
    --color-customPurple-500: #7C69E3;  
    --color-customPurple-600: #6A5BD4;
    --color-customPurple-700: #5949C5;
    --color-customPurple-800: #4A3AB6;
    --color-customPurple-900: #3A2D99;  
    --text-small: 13px;
    --text-h1 : 3rem;
    --text-h2 : 2rem;
    --text-h3 : 1.25rem;

  }  

  @plugin "daisyui";
  
  @plugin "daisyui/theme" {
    name: "mytheme";
    default: true; /* set as default */
    prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light; /* color of browser-provided UI */
  
    --color-base-100: oklch(98% 0.02 240);
    --color-base-200: oklch(95% 0.03 240);
    --color-base-300: oklch(92% 0.04 240);
    --color-base-content: oklch(20% 0.05 240);
    --color-primary: #7C69E3;
    --color-primary-content: oklch(98% 0.01 240);
    --color-secondary: oklch(70% 0.25 200);
    --color-secondary-content: oklch(98% 0.01 200);
    --color-accent: oklch(65% 0.25 160);
    --color-accent-content: oklch(98% 0.01 160);
    --color-neutral: oklch(50% 0.05 240);
    --color-neutral-content: oklch(98% 0.01 240);
    --color-info: oklch(70% 0.2 220);
    --color-info-content: oklch(98% 0.01 220);
    --color-success: oklch(65% 0.25 140);
    --color-success-content: oklch(98% 0.01 140);
    --color-warning: oklch(80% 0.25 80);
    --color-warning-content: oklch(20% 0.05 80);
    --color-error: oklch(65% 0.3 30);
    --color-error-content: oklch(98% 0.01 30);
  }
  
  
  
  [class^="number-slide"],
  [class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 300px;

  }